<h1>{{{name}}}</h1>
<br>
Days Spent Watching: {{{days_spent_watching}}}
<br>
Currently Watching: {{{watching}}}
<br>
Completed: {{{completed}}}
<br>
On Hold: {{{onhold}}}
<br>
Dropped: {{{dropped}}}
<br>
Plan to Watch: {{{plan_to_watch}}}
